main {
  display: flex;
  flex-direction: column;
}
main #tips {
  display: flex;
  padding: 31px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 31px;
  align-self: stretch;
}
main #tips h1 {
  color: #444;
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main #tips p {
  color: #444;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main #steps {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-self: stretch;
  box-shadow: 0 0 10px #444;
}
main #steps .step-container {
  display: flex;
  height: 400px;
  padding: 10px;
  padding-top: 40px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 50px;
  flex: 1 0 0;
}
main #steps .step-container p {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: whitesmoke;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-shadow: 0 0 6px black;
}
main #steps #step1 {
  background: #795a3e;
}
main #steps #step2 {
  background: #ac9d92;
}
main #steps #step3 {
  background: #a9a9a2;
}
main #steps #step4 {
  background: #c2dfeb;
}
main #form-schedule {
  gap: 0px;
  box-shadow: 0 0 3px #444;
}
main #form-schedule #form-wrap {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  gap: 16px;
}
main #form-schedule #form-wrap .label-wrap {
  width: 360px;
}
main #form-schedule #form-wrap h1 {
  color: #795a3e;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 70%;
}
main #form-schedule #form-wrap .input-wrapper {
  width: 500px;
  gap: 10px;
}
main #form-schedule #form-wrap input {
  padding: 12px;
  border-radius: 4px;
  background: #f1f8ff;
  border: none;
  width: 500px;
}
main #form-schedule #form-wrap select {
  padding: 12px;
  border-radius: 4px;
  background: #f1f8ff;
  border: none;
  width: 500px;
}
main #form-schedule #form-wrap .small-input {
  width: 100%;
}
main #form-schedule #form-wrap button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  background: #795a3e;
  cursor: pointer;
}
#truck {
  width: auto;
}
.booking-header-img {
  background-image: url(/images/booking.jpg);
  display: flex;
  justify-content: flex-start;
  padding: 0;
  gap: 100px;
  background-position-y: -400px;
  background-size: cover;
  box-shadow: 0 0 10px #444;
  background-attachment: fixed;
}
.booking-header-img h1 {
  color: #fff;
  text-align: center;
  align-self: center;
  font-size: 25px;
  text-shadow: 0 0 4px #444;
}
.dflex {
  display: flex;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-content-center {
  justify-content: center;
  align-items: center;
}
.justify-spacebetween {
  justify-content: space-between;
}
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
