main {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.backroundimg {
  background-image: url(../images/wool2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.backroundimg h1 {
  padding-bottom: 10px;
  padding-right: 200px;
  color: rgb(250, 239, 231);
}

.clothestext h2,
.fillstext h2,
.rectext h2,
.twotext h2 {
  letter-spacing: 2px;
}

.clothestext p,
.fillstext p,
.rectext p,
.twotext p,
.undershowcase p,
.city p {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 25px;
}

#textbar p {
  font-size: 24px;
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.clothes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.clothes img {
  width: 550px;
  height: 331px;
  border-radius: 20px;
}

.clothestext {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 331px;
  justify-content: center;
  text-align: center;
}

.clothestext p {
  margin-top: 20px;
}

.fills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.fillstext {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 331px;
  justify-content: center;
  text-align: center;
}

.fillstext h2 {
  text-align: center;
}

.fillstext p {
  text-align: center;
  margin-top: 20px;
}

.fills img {
  width: 550px;
  height: 331px;
  border-radius: 20px;
}
.rec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.rectext {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 331px;
  justify-content: center;
  text-align: center;
}
.rectext p {
  text-align: center;
  margin-top: 20px;
}
.rec img {
  width: 550px;
  height: 331px;
  border-radius: 20px;
}

.twogirls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
.twotext {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 331px;
  justify-content: center;
  text-align: center;
}
.twotext p {
  text-align: center;
  margin-top: 20px;
}
.twogirls img {
  width: 550px;
  height: 331px;
  border-radius: 20px;
}

.city {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.city img {
  width: 80%;
  margin: auto;
  border-radius: 60px;
}
.city p {
  width: 80%;
  height: 200px;
  text-align: center;
  margin: auto;
  padding-top: 10px;
}
