main {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.backroundimg {
  background-image: url(../images/wool2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.s-slogan1 {
  position: relative;
  margin: 0 auto;
  left: 0;
  top: -120px;
  font-size: 100px;
  color: #fff;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.s-slogan2 {
  padding-bottom: 22px;
  margin: 0 auto;
  color: whitesmoke;
}

.clothestext h2,
.fillstext h2,
.rectext h2,
.twotext h2 {
  letter-spacing: 2px;
}

.clothestext p,
.fillstext p,
.rectext p,
.twotext p,
.undershowcase p,
.city p {
  letter-spacing: 1px;
  line-height: 25px;
}

#textbar p {
  width: 95%;
  margin: auto;
  padding-top: 30px;
}

.clothes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.clothes img {
  width: 550px;
  height: 331px;
  border-radius: 20px;
}

.clothestext {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 331px;
  justify-content: center;
  text-align: center;
}

.clothestext p {
  margin-top: 20px;
}

.fills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.fillstext {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 331px;
  justify-content: center;
  text-align: center;
}

.fillstext h2 {
  text-align: center;
}

.fillstext p {
  text-align: center;
  margin-top: 20px;
}

.fills img {
  width: 550px;
  height: 331px;
  border-radius: 20px;
}
.rec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.rectext {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 331px;
  justify-content: center;
  text-align: center;
}
.rectext p {
  text-align: center;
  padding-top: 20px;
}
.rec img {
  width: 550px;
  height: 331px;
  border-radius: 20px;
}

.twogirls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
.twotext {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 331px;
  justify-content: center;
  text-align: center;
}
.twotext p {
  text-align: center;
  margin-top: 20px;
}
.twogirls img {
  width: 550px;
  height: 331px;
  border-radius: 20px;
}

.city {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.city img {
  width: 95%;
  margin: auto;
  border-radius: 60px;
}
.city p {
  width: 95%;
  height: 200px;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}
