* {
  margin: 0;
}
body {
}
header {
  display: flex;
  padding: 10px 10px 10px 30px;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
}
header .navbar {
  display: flex;
  padding: 0px 4px;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
header .navbuttons {
  height: 53px;
  padding: 15px 12px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
header #logo {
  width: 134px;
  height: 130px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #c9c8c8;
}
footer .nav-footer {
  display: flex;
  padding: 12px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
footer .logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
footer .logo-wrap a {
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 43px;
  border: 1px solid #000;
}
footer .text-wrap {
  display: flex;
  padding: 9px 0px;
  justify-content: center;
  align-items: center;
  gap: 29px;
}
footer .text-wrap a {
  color: #000;
  text-align: center;
  font-family: Anonymous Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
