* {
  margin: 0;
}
body {
}
header {
  display: flex;
  padding: 10px 10px 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 285px;
  background: #fff;
  position: relative;
}
header .navbar {
  display: flex;
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  gap: 35px;
  
}
header .navbuttons {
  height: 53px;
  padding: 15px 12px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
header #logo {
  width: 134px;
  height: 130px;